@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';

.container {
  background-color: colors.$white;

  :global(.cds--table-toolbar) {
    position: relative !important;
  }
}

.toolbarContent {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  gap: layout.$spacing-03;
}
