@use '@carbon/styles/scss/spacing';
@use '@carbon/type';
@use '@carbon/layout';
@use '@carbon/colors';

.sectionTitle {
  @include type.type-style('label-01');
  color: colors.$gray-70;
  margin-bottom: spacing.$spacing-03;
}

.buttonSet {
  width: 100%;
  padding-top: spacing.$spacing-05;
  background-color: colors.$white-0;
  justify-content: space-between;
  bottom: 0;
  position: absolute;
  & > button {
    max-width: 50% !important;
    width: 50%;
  }
}

.billingInformationContainer {
  margin: spacing.$spacing-05;
  overflow-y: visible;
  height: 100%;
}

.paymentTypeSwitcher {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: none;
  outline: none;
  padding: 6px;
  height: auto;
  overflow: visible;

  :global(.cds--content-switcher) {
    flex-direction: column;
  }

  :global(.cds--content-switcher-btn) {
    width: 100%;
    margin-bottom: spacing.$spacing-03;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.paymentTypeSwitch {
  margin-bottom: spacing.$spacing-03;
  height: 2rem;
  border-radius: 0.25rem;
}

.creditDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-05;
  margin-top: spacing.$spacing-03;
  height: auto;
  border: 1px solid colors.$gray-20;
  padding: spacing.$spacing-03;
  overflow: visible;
}

.freeDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-05;
  margin-top: spacing.$spacing-03;
  height: auto;
  border: 1px solid colors.$gray-20;
  padding: spacing.$spacing-03;
  overflow: visible;
}

.creditTypeDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-03;
}
