@use '@carbon/styles/scss/spacing';
@use '@carbon/type';
@use '@carbon/layout';
@use '@carbon/colors';

.sectionTitle {
  @include type.type-style('label-01');
  color: colors.$gray-70;
  margin-bottom: spacing.$spacing-03;
}

.buttonSet {
  width: 100%;
  padding-top: spacing.$spacing-05;
  background-color: colors.$white-0;
  justify-content: space-between;
  bottom: 0;
  position: absolute;
  & > button {
    max-width: 50% !important;
    width: 50%;
  }
}

.billingInformationContainer {
  margin: spacing.$spacing-05;
  overflow-y: visible;
  height: 100%;
  border: solid red 1px;
}

.paymentTypeSwitcher {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  // flex-wrap: wrap;
  border: none;
  outline: none;
  padding: 2px;
}

// .paymentTypeSwitch {
//   margin-bottom: spacing.$spacing-03;
//   border: solid #a6c8ff;
// }

.creditDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-05;
  margin-top: spacing.$spacing-03;
  height: auto;
  border: 1px solid colors.$gray-20;
  padding: spacing.$spacing-03;
  overflow: visible;
}

.freeDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-05;
  margin-top: spacing.$spacing-03;
  height: auto;
  border: 1px solid colors.$gray-20;
  padding: spacing.$spacing-03;
  overflow: visible;
}

.creditTypeDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-03;
}
