@use '@carbon/colors';
.diagnosesText {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tagWrapper {
  display: inline-flex;
  /* It makes the wrapper behave like the tag for the mouse */
  height: fit-content;
  width: fit-content;
}

.tag {
  max-width: 20rem;
  margin: 0 !important;
  /* This prevents the internal Carbon elements from stealing the hover event */
  pointer-events: none;

  :global(.cds--tag__label) {
    display: flex;
    align-items: center;
    max-width: 100%;
  }
}

.tagContent {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  width: 100%;
}

.textLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tagIcon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.confirmedIcon {
  color: colors.$green-60;
}

.presumedIcon {
  color: colors.$orange-60;
}
