@use '@carbon/layout';
@use '@carbon/colors';

.contentSwitcher {
  margin: layout.$spacing-05;
}

.headerActions {
  display: flex;
  column-gap: layout.$spacing-05;
  margin: layout.$spacing-05;
}

.patientSearchBar {
  width: 100%;

  & form {
    border: none;
  }
}

.pageHeader {
  border-bottom: 1px solid colors.$gray-20;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;

  button {
    opacity: 1;
    pointer-events: auto;
  }
}
