@use '@carbon/layout';
@use '@carbon/colors';

.triageDashboardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0;
  background-color: colors.$white;
}

.contentSwitcher {
  margin: layout.$spacing-05;
}

.headerActions {
  display: flex;
  column-gap: layout.$spacing-05;
  margin: layout.$spacing-05;
}

.patientSearchBar {
  width: 100%;

  & form {
    border: none;
  }
}

.pageHeader {
  border-bottom: 1px solid colors.$gray-20;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;

  button {
    opacity: 1;
    pointer-events: auto;
  }
}

.emptyStateContainer {
  margin: layout.$spacing-05;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.emptyStateTile {
  width: 100%;
  padding: layout.$spacing-07;
  text-align: center;
}

.emptyStateContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: layout.$spacing-05;
}

.emptyStateIcon {
  color: colors.$gray-50;
  margin-bottom: layout.$spacing-03;

  :global(svg) {
    display: block;
  }
}

.emptyStateHeading {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  color: colors.$gray-100;
}

.emptyStateDescription {
  font-size: 0.875rem;
  color: colors.$gray-70;
  margin: 0;
  line-height: 1.5;
  max-width: 500px;
}

.emptyStateActions {
  margin-top: layout.$spacing-05;
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-03;
  text-align: left;
  width: 100%;
  max-width: 500px;
}

.actionItem {
  display: flex;
  align-items: flex-start;
  gap: layout.$spacing-03;
  font-size: 0.875rem;
  color: colors.$gray-70;
}

.actionIcon {
  flex-shrink: 0;
  color: colors.$blue-60;
  margin-top: 2px;
}

.actionLabel {
  line-height: 1.5;
}
