@use '@carbon/layout';
@use '@carbon/colors';

.contentSwitcher {
  margin: layout.$spacing-05;
}

.headerActions {
  display: flex;
  column-gap: layout.$spacing-05;
  margin: layout.$spacing-05;
}

.patientSearchBar {
  width: 100%;
}

.pageHeader {
  border-bottom: 1px solid colors.$gray-20;
}
