@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.patternSelector {
  margin-bottom: layout.$spacing-05;
}

.scheduleCard {
  border: 1px solid colors.$gray-30;
  border-radius: layout.$spacing-02;
  padding: layout.$spacing-05;
}

.scheduleTitle {
  @include type.type-style('label-01');
  display: block;
  font-weight: 600;
  margin-bottom: layout.$spacing-05;
}
